body {
    box-sizing: border-box;
    font-size: 15px;
}

.bg-img {
    background-image: url('./images/Weather-Background.jpg');
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.navbar {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.navbar button {
    font-size: 15px;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    margin-right: 10px;
}

.navbar button a {
    text-decoration: none;
    color: black;
}

.navbar button:hover{
    background-color: lightblue;
}

.navbar button a::after {
    color: black;
}

.formcontainer {
    display: block;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

.formcontainer .weatherForm {
    display: inline-block;
    width: 20%;
}

.formcontainer .weatherForm button{
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
    width: 82%;
    border-radius: 5%;
}

.formcontainer .weatherForm input {
    padding: 5px 0px;
    border: none;
    border-radius: 5%;
    outline: none;
}

.formcontainer .weatherForm input:first-child {
    margin-right: 14px;
}

.formcontainer .weatherForm input[type=text] {
    padding-left: 6px;
}  

.formcontainer .weatherForm button {
    background-color: rgb(114, 230, 117);
    text-align: center;
    border: none;
    padding: 5px 5px;
    margin-top: 20px;
}

.weatherinfo {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 33%;
    left: 53%;
    margin: -100px 0 0 -150px;
}

.error {
    position: absolute;
    width: 54%;
    z-index: 15;
    top: 65%;
    left: 53%;
    margin: -100px 0 0 -150px;
    text-align: center;
    color: brown;
}

.aboutcontainer {
    position: absolute;
    width: 17%;
    z-index: 15;
    top: 25%;
    left: 49%;
    margin: -100px 0 0 -150px;
    text-align: center;
}

/* .aboutcontainer .git h4{
    margin-top: 10px;
} */


.copyright {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  
  .copyrightimg {
    height: 30px;
    margin-bottom: -9px;
  }